<div class="container">
  <div class="row">
    <h1 class="pl-4 mt-3">レシピ</h1>
  </div>
  <% if  @post.user == current_user %>
      <div class="row pl-4">
        <%= link_to "レシピ編集", edit_post_recipe_path(@post.id) %>
      </div>
    <% end %>


  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <div class="row">
      <h1>材料</h1>
    </div>
    <div class="card w-50 p-2 mt-2">
      <% @post.meterials.each do |post| %>
        <div class="row">
        <h3 class="col-10 ml-3 mt-2 border-bottom">
          ・<%= post.meterial_name %>
          <%= post.quantity %>
        </h3>
        </div>
      <% end %>
    </div>
    <div class="row mt-5">
      <h1>レシピ手順</h1>
    </div>
    <% @post.recipes.each do |post| %>
      <div  class="card w-100 p-2 mt-4">
        <div class="row">
          <h1 class="col-1">
            <%= @sum += 1 %>
          </h1>
          <h3 class="col-8 mt-2">
            <%= post.recipe %>
          </h3>
          <div class="col-3">
            <%= image_tag post.get_recipe_image, class:"recipe-img" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-2"></div>
  </div>
</div>