<% if @users.exists? %>
    <table class='table'>
      <thead>
        <tr class="light4">
          <th>フォロー一覧</th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="light border-bottom">
          <td><%= image_tag user.get_user_image,size: "50x50" %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><%= link_to 'プロフィール', user, class: "user_#{user.id}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>フォローしているユーザーはいません</p>
<% end %>