<div class = "container">
  <div class="card">
  <div class="previews">
  <div class="slider">
      <%= image_tag 'image1',class:"card-img" ,alt:"Card image" %>
      <%= image_tag 'image2',class:"card-img" ,alt:"Card image" %>
      <%= image_tag 'image3',class:"card-img" ,alt:"Card image" %>
      <%= image_tag 'image4',class:"card-img" ,alt:"Card image" %>
      <%= image_tag 'image5',class:"card-img" ,alt:"Card image" %>
  </div>
  </div>
  <div class="row">
  <div class="card-img-overlay">
    <div class="light">
      <h1 class="top-font">ようこそSweets Homeへ</h1>
      <%#ログインしているか%>
      <% if user_signed_in? %>
      <% else %>
        <%#ログインしていない場合%>
        <div class="btn btn-primary m-3 light">
          <%= link_to "初めての方", "/users/sign_up" %>
          <i class="fa fa-sign-in text-primary" aria-hidden="true"></i>
        </div>
        <div class="btn btn-primary m-3 light">
          <%= link_to "会員の方", "/users/sign_in" %>
          <i class="fa fa-sign-in text-primary" aria-hidden="true"></i>
        </div>
      <% end %>
      </div>
      </div>
      </div>
  </div>

  <%#新着商品4件%>
  <h2 class="light mt-3">新着投稿</h2>
  <div class = "row text-center">
    <% @posts.each.with_index(4) do |post| %>
      <div class="col-lg-3">
        <p>
          <%= link_to post_path(post.id)  do %>
            <%= image_tag post.post_image, size:"200x150" %>
          <% end %>
        </p>
        <p>
          <%= post.post_name %>
        </p>
      </div>
    <% end %>
  </div>
  <p>
    <%= link_to "全ての投稿を見る>", '/posts' %>
  </p>
</div>
