<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h3 class="text-center bg-light mt-5 ml-5 col-8">新規投稿</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 offset-2">
      <%= form_with model: @post, url: posts_path, local: true do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :投稿画像, class: "col-sm-2" %>
            <%= f.file_field :post_image, accept: "image/*" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :名称, class: "col-sm-2" %>
            <%= f.text_field :post_name, placeholder: "名称", class: "col-sm-6 p-1" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :紹介, class: "col-sm-2 align-top" %>
            <%= f.text_area :post_introduction, placeholder: "ここに説明文を記述します", class: "col-sm-6 p-1", rows:"5" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :ジャンル, class: "col-sm-2" %>
            <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :genre_name, class: "col-sm-5" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :製作時間, class: "col-sm-2" %>
            <%= f.text_field :cooking_time, placeholder: "00", class: "text-center col-1" %>分
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :製作金額, class: "col-sm-2" %>
            <%= f.text_field :cooking_cost, placeholder: "00", class: "text-center col-1" %>円
          </div>
          <div class="form-group col-xs-9">
              <%= f.label :レシピの有無, class: "col-sm-2" %>
              <%= f.radio_button :recipe_status, :レシピあり, checked: "checked", class: "ml-5" %>
              <%= f.label :recipe_status, "レシピあり" %>
              <%= f.radio_button :recipe_status, :レシピなし, class: "ml-4" %>
              <%= f.label :recipe_status, "レシピなし" %>
          </div>
          <div class="form-group col-12 mx-auto text-center">
            <%= f.submit "投稿", class: "btn btn-success col-sm-2" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>

</div>