<div class="container">
  <h1>投稿詳細</h1>
  <div class="row d-flex align-items-end">
    <%= image_tag @post.user.get_user_image, size: "auto" %>
    <h5>name：<%= @post.user.name %>
    <%= link_to "ユーザー詳細", user_path(@post.user.id) %>
  </div>
  <div class="row pt-3">
    <%= image_tag @post.get_post_image, size: "auto" %>
  </div>
  投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %>

  <div class="row col-12 mt-4">
    <h1 class="col-4"><%= @post.post_name %></h1>
    <div class="col-4">
      <div class="row d-flex align-items-end">
      <%#カレントユーザーの場合編集・削除リンク表示%>
      <% if @post.user == current_user %>
          <div class="row">
            <div class="col-12 ml-4">
          <%= link_to "編集", edit_post_path(@post) %>
          </div>
          </div>
          <div class="row">
            <div class="col-12 ml-4">
          <%= link_to "削除", post_path(@post), method: :delete %>
          </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  <%#いいね機能%>
  <div>
    <% if @post.favorited?(current_user) %>
    <%#すでにいいねしている場合%>
    <%= link_to post_favorites_path(@post.id), method: :delete do %>
        <h4>♥
        <%= @post.favorites.count %> いいね
        </h4>
    <% end %>
<% else %>
    <%#いいねしていない場合%>
    <%= link_to post_favorites_path(@post.id), method: :post do %>
        <h4>♡︎
        <%= @post.favorites.count %> いいね
        </h4>
    <% end %>
<% end %>
<p>コメント件数：<%= @post.comments.count %></p>
  </div>

  <div class="row">
    <h3>説明：<%= @post.post_introduction %></h3>
  </div>

  <div class="row">
    タグ
    <% @post.genres.each do |genre| %>
    <h3><%= genre.genre_name %></h3>
    <% end %>
  </div>

  <div class="row">
    <h5 class="mr-4">製作時間：<%= @post.cooking_time %>分</h5>
    <h5 class="ml-4">製作金額：<%= @post.cooking_cost %>円</h5>
  </div>
  
  <%#レシピが存在する場合レシピリンク・レシピが存在しなくカレントユーザーの場合レシピ追加リンク %>
  <div class="row">
    <% if @post.recipe_status_before_type_cast==0 %>
      <%= link_to "レシピ", post_recipe_path(@post.id) %>
    <% else %>
      <% if  @post.user == current_user %>
        <%= link_to "レシピ追加", new_post_recipe_path(@post.id) %>
      <% end %>
    <% end %>
  </div>

<div class="col-12">
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class:"col-10" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  <div class="col-12">
  <% @post.comments.each do |comment| %>
  <div class="row p-4 shadow-lg mt-5 col-12">
    <div class="col-3">
    <%= image_tag comment.user.get_user_image,size: "100x100" %>
    <p><%= comment.user.name %></p>
    <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <h5 class= "col-6">
    <%= comment.comment %>
    </h5>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
    </div>
  <% end %>
</div>


</div>